<link rel="preload" href="{{ '/assets/css/just-the-docs-dark.css' | relative_url }}" as="style" />

<!-- Intentionally duplicates the default theme stylesheet so there's a fallback when changing themes -->
<link id="jtdThemeCSS" rel="stylesheet" href="{{ '/assets/css/just-the-docs-default.css' | relative_url }}">

<script>
  /* Script to enable persistent dark mode. */

  jtd.getTheme = function() {
    var cssFileHref = (document.getElementById('jtdThemeCSS') || document.querySelector('[rel="stylesheet"]')).getAttribute('href');
    return cssFileHref.substring(cssFileHref.lastIndexOf('-') + 1, cssFileHref.length - 4);
  }

  jtd.setTheme = function(theme) {
    var cssFile = document.getElementById('jtdThemeCSS') || document.querySelector('[rel="stylesheet"]');
    cssFile.setAttribute('href', cssFile.getAttribute('href').replace(jtd.getTheme(), theme));
  }

  let toggleDark = () => {
    let setDark = jtd.getTheme() !== 'dark';
    jtd.setTheme(setDark ? 'dark' : 'default');
    localStorage.setItem('darkMode', String(setDark));
  };

  /* Read local storage state. */
  if (localStorage.getItem('darkMode') === 'true') {
    toggleDark();
  }
</script>

<!-- Script for LaTeX rendering. -->
<link rel="stylesheet" href="{{ '/assets/katex/katex.min.css' | relative_url }}">
<script defer src="{{ '/assets/katex/katex.min.js' | relative_url }}"></script>
<script>
function renderKaTeX() {
  renderMathInElement(document.body, {
    delimiters: [
      {left: '$$', right: '$$', display: true},
      {left: '$', right: '$', display: false},
      {left: '\\(', right: '\\)', display: false},
      {left: '\\[', right: '\\]', display: true},
    ],
  });
}
</script>
<script defer src="{{ '/assets/katex/contrib/auto-render.min.js' | relative_url }}" onload="renderKaTeX();"></script>
